force-app/main/default/flows/Duplicated_employee_scheduling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Same_day_same_employee</name>
        <label>Same day same employee</label>
        <locationX>943</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_counter</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Duplicated employee scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duplicated employee scheduling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Employee</name>
        <label>Employee</label>
        <locationX>701</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Same_day_same_employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ScheduledDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ScheduledDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DayInOffice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Duplicated_checkbox</name>
        <label>Duplicated checkbox</label>
        <locationX>1451</locationX>
        <locationY>561</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DuplicatedCounter__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DuplicatedSchedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_counter</name>
        <label>Update counter</label>
        <locationX>1180</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Duplicated_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>DuplicatedCounter__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>126</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Employee</targetReference>
        </connector>
        <object>DayInOffice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
