force-app/main/default/flows/EmployeesPerDayCounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Count_records</name>
        <label>Count records</label>
        <locationX>748</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Same_day_scheduled_limit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_day_counting_update</targetReference>
        </connector>
    </assignments>
    <description>Counts the number of employees per day at the same office</description>
    <interviewLabel>Employees per day counter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employees per day counter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Same_day_scheduled_limit</name>
        <label>Same day scheduled limit</label>
        <locationX>589</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ScheduledDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ScheduledDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DayInOffice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_limit_exceeded</name>
        <label>Check limit exceeded</label>
        <locationX>1058</locationX>
        <locationY>555</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SameDayCounting__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CheckLimitExceeded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Same_day_counting_update</name>
        <label>Same day counting update</label>
        <locationX>899</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Check_limit_exceeded</targetReference>
        </connector>
        <inputAssignments>
            <field>SameDayCounting__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>137</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Same_day_scheduled_limit</targetReference>
        </connector>
        <object>DayInOffice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
