force-app/main/default/flows/Schedulling_criterias_checker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Count_people</name>
        <label>Count people</label>
        <locationX>1294</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>Count1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Same_day_scheduled_limit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_day_counting_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Same_day_same_employee</name>
        <label>Same day same employee</label>
        <locationX>1096</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Employee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicate_decision</name>
        <label>Duplicate decision</label>
        <locationX>1096</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Same_day_scheduled_limit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Maximum Employees</defaultConnectorLabel>
        <rules>
            <name>Duplicate_counter_criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicated_checkbox_0</targetReference>
            </connector>
            <label>Duplicate counter criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Success_decision</name>
        <label>Success decision</label>
        <locationX>1294</locationX>
        <locationY>1199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_Greater_than_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_limit_exceeded_0</targetReference>
            </connector>
            <label>Counter Greater than 4</label>
        </rules>
    </decisions>
    <interviewLabel>Schedulling criterias checker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedulling criterias checker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Employee</name>
        <label>Employee</label>
        <locationX>1096</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Same_day_same_employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ScheduledDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ScheduledDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DayInOffice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Same_day_scheduled_limit</name>
        <label>Same day scheduled limit</label>
        <locationX>1294</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_people</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ScheduledDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ScheduledDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Office__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DayInOffice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_limit_exceeded_0</name>
        <label>Check limit exceeded</label>
        <locationX>1162</locationX>
        <locationY>1319</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SameDayCounting__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CheckLimitExceeded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Duplicated_checkbox_0</name>
        <label>Duplicated checkbox</label>
        <locationX>898</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DuplicatedCounter__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DuplicatedSchedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Same_day_counting_update</name>
        <label>Same day counting update</label>
        <locationX>1294</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Success_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>SameDayCounting__c</field>
            <value>
                <elementReference>Count1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_counter</name>
        <label>Update counter</label>
        <locationX>1096</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>Duplicate_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>DuplicatedCounter__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Employee</targetReference>
        </connector>
        <object>DayInOffice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
